# Server Configuration
PORT=3000
APP_URL=https://ais-dev-wabwlskorzns65trra72og-50413873631.us-east1.run.app

# Database Configuration
DATABASE_URL=

# Email Configuration (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Linka Jobi <noreply@linkajobi.com>"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
